.upload
{
  width:60%;
  margin-left: 25%;
  margin-top: 5%;

}
.download{

}
.uploadarea{
  display: inline;
  width:25%;

}
.btnupload{
  width:10%;
  background-color: navy;
  color:white;
}
h1{
  text-align: center;
}
