<header class="header">
<figure>
  <img class="logo" src="{{logoPath}}"/>
</figure>
<h1 class="multicolortext">{{title}}</h1>
<figure>
  <img class="banner" src="{{banner}}"/>
</figure>

</header>

<section class="content">
  <a *ngIf="!this.authService.isLoggedIn" routerLinkActive="active" routerLink="/log-in">Sign
    in</a>

  <a *ngIf="!this.authService.isLoggedIn"
     routerLinkActive="active" routerLink="/sign-up">Sign up</a>
  <button (click)="logout()" *ngIf="this.authService.isLoggedIn" type="button" class="btn btn-danger">Logout</button>


  <article class="routerclass">
    <router-outlet>

    </router-outlet>
  </article>
</section>
